<ion-header>
    <ion-navbar>
        <ion-title>
            Avatar Chips
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-chip>
        <ion-avatar>
            <img src="/assets/img/avatar.png" alt="">
        </ion-avatar>
        <ion-label>Default</ion-label>
    </ion-chip>
    <ion-chip>
        <ion-label>Right Avatar</ion-label>
        <ion-avatar>
            <img src="/assets/img/avatar.png" alt="">
        </ion-avatar>
    </ion-chip>
</ion-content>