<ion-header>
    <ion-navbar>
        <ion-title>
            Icon buttons
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <p>
        <button ion-button color="light" small icon-left>
            <ion-icon name="arrow-back"></ion-icon>
            Back
        </button>
        <button ion-button color="light" small icon-only>
            <ion-icon name="arrow-down"></ion-icon>
        </button>
        <button ion-button color="light" small icon-only>
            <ion-icon name="arrow-up"></ion-icon>
        </button>
        <button ion-button color="light" small icon-right>
            Next
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </p>
    <p>
        <button ion-button icon-left>
            <ion-icon name="home"></ion-icon>
            home
        </button>
        <button ion-button outline icon-left>
            <ion-icon name="briefcase"></ion-icon>
            Work
        </button>
        <button ion-button clear icon-left>
            <ion-icon name="beer"></ion-icon>
            pub
        </button>
    </p>
    <p>
        <button ion-button color="secondary" icon-left>
            <ion-icon name="people"></ion-icon>
            Friends
        </button>
        <button ion-button color="secondary" outline icon-left>
            <ion-icon name="paw"></ion-icon>
            Best Friend
        </button>
    </p>
    <p>
        <button ion-button color="danger" icon-left>
            <ion-icon name="close"></ion-icon>
            Remove
        </button>
        <button ion-button color="danger" outline icon-only>
            <ion-icon name="remove-circle"></ion-icon>
        </button>
        <button ion-button color="danger" clear icon-only>
            <ion-icon name="trash"></ion-icon>
        </button>
    </p>
    <p>
        <button ion-button color="dark" round icon-left>
            <ion-icon name="construct"></ion-icon>
            Tools
        </button>
        <button ion-button color="dark" round clear icon-only>
            <ion-icon name="hammer"></ion-icon>
        </button>
    </p>
</ion-content>