<ion-header>
    <ion-navbar>
        <ion-title>
            Round buttons
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <p>
        <button ion-button small>Default</button>
    </p>
    <p>
        <button ion-button color="secondary" small>Secondary</button>
    </p>
    <p>
        <button ion-button color="danger">Danger</button>
    </p>
    <p>
        <button ion-button color="light">Light</button>
    </p>
    <p>
        <button ion-button color="dark" large>Dark</button>
    </p>
</ion-content>